body {
  margin: 0;
}

h1 {
  margin: 0% 5% 5% 5%;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#text {
  color: #667277;
  font-size: 1.5vw;
  margin-left: 20%;
  margin-right: 20%;
}

#text-beside-image {
  color: #667277;
  font-size: 1.5vw;
  margin-left: 5%;
  margin-right: 20%;
}