html {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
}

body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 200px;
}

section {
  background-color: #fff;
}

.profile {
  width: 25%;
  height: 75%;
  margin-left: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  overflow: hidden;
  background-color: #3B3430;
}

li {
  float: right;
  margin: 7% 35px 3% 0px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  /* Hover stuff */
  position: relative;
}

/* Hover stuff */
li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.active {
  text-decoration: underline;
}

h1 {
  font-family: 'Futura-CondensedExtraBold', sans-serif;
  color: #667277;
  font-weight: lighter;
  font-size: 2.5vw;
  margin: 3% 5% 5% 5%;
  text-align: center;
}

hr {
  margin: auto 220px;
}

* {
  box-sizing: border-box;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.grid {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  max-width: 100%;
  grid-gap: 5px;
}

img, iframe, video {
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}

.box {
  padding: 10px;
}

.crabity-video-container, 
.soundviz-video-container,
.toddstrash-video-container,
.interactivedesigns-video-container,
.riddleminotaur-video-container,
.justkeepswimming-video-container,
.pandaclimb-video-container,
.treeman-video-container,
.chopsticks-video-container {
  position: relative;
}

.crabity-video-container video, 
.soundviz-video-container video,
.toddstrash-video-container video,
.interactivedesigns-video-container video,
.riddleminotaur-video-container video,
.justkeepswimming-video-container video,
.pandaclimb-video-container video,
.treeman-video-container video,
.chopsticks-video-container video {
  width: 100%;
}
 
.crabity-video-container .hover-text, 
.soundviz-video-container .hover-text,
.toddstrash-video-container .hover-text,
.interactivedesigns-video-container .hover-text,
.riddleminotaur-video-container .hover-text,
.justkeepswimming-video-container .hover-text,
.pandaclimb-video-container .hover-text,
.treeman-video-container .hover-text,
.chopsticks-video-container .hover-text {
  position: absolute;
  top: 0;
  bottom: 1%;
  left: 0;
  right: 0;
  
  border-radius: 20px;
  border-color: rgba(255, 215, 0, 0.72);
  border-width: 20px;
  border-style: solid;

  color: #fff;
  font-size: 3vw;
  text-shadow: 0 0 5px black;
  text-align: center;

  padding: 5% 5%;
  pointer-events: none;
  box-shadow: 4px 4px 50px -4px rgba(0, 0, 0, 0.8);
  opacity: 0;
  letter-spacing: 0.8px;
  transition: all 400ms ease;
  text-decoration: none;
}

.crabity-video-container .hover-text.active, 
.soundviz-video-container .hover-text.active,
.toddstrash-video-container .hover-text.active,
.interactivedesigns-video-container .hover-text.active,
.riddleminotaur-video-container .hover-text.active,
.justkeepswimming-video-container .hover-text.active,
.pandaclimb-video-container .hover-text.active,
.treeman-video-container .hover-text.active,
.chopsticks-video-container .hover-text.active {
  opacity: 1;
  letter-spacing: 0;
}